* {
      margin: 0;
      padding: 0;
      font-family: 'Righteous', cursive;
      box-sizing: border-box;


}

::-webkit-scrollbar {
      background-color: var(--primario);
      width: 15px;
}

::-webkit-scrollbar-track {
      border-radius: 50px;

}

::-webkit-scrollbar-thumb {
      background-color: var(--secundario);
      border-radius: 50px;
}

/* terminar de hacer responsive en celulares*/
:root {
      --bgcolor: #EDDCD2;
      --primario: #DDBEA9;
      --secundario: #CB997E;
      --terciario: #FFF1E6;
      --cuarto: #F0EFEB;
      --quinto: #A5A58D;
}

html {
      scroll-behavior: smooth;
}

body {
      background-color: var(--bgcolor);
      text-align: center;
      max-width: 100vw;
}

header {
      max-width: 100vw;
      height: 50px;
      background-color: var(--secundario);
      font-family: 'Open Sans', sans-serif;
      margin-top: 0;
      display: flex;
      justify-content: space-between;

}

.btn_open, .btn_close{
      display: none;
}

.titles {
      height: 70px;
      max-width: 100vw;
      background-color: var(--secundario);
      color: var(--bgcolor);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3%;
      margin-bottom: 3%;
}

.subtitle {
      font-size: 2rem;
      font-weight: bold;
      color: var(--secundario);
      letter-spacing: 5px;

}

div h1 {
      font-size: 50px;
      font-weight: bolder;
      font-style: italic;
      letter-spacing: 5px;
}

div h2 {
      font-size: 30px;
      font-weight: bolder;
      font-style: italic;
      letter-spacing: 5px;
}

img {
      border-radius: 20px;
}

.espacio_inferior {
      margin-bottom: 10px;
}

.btn_primario {
      background-color: var(--secundario);
}

.btn_primario:hover {
      background-color: var(--primario);
      color: black;
}

.marca {
      height: 100px;
      width: 100px;
      float: left;
      text-align: center;
      top: 0;
}

.btnes_scroll {
      height: 100%;
      width: 60vw;
      float: right;
      margin: 0;



}

.btnes_scroll ul li a:hover {
      background-color: #BFA594;
      color: var(--bgcolor);
}

.btnes_scroll ul li a:active {
      background-color: var(--quinto);
      color: var(--bgcolor);
}

.btnes_scroll ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      height: 100%;


}

.btnes_scroll ul li {
      display: inline;
      height: 100%;
}

.btnes_scroll ul li a {
      display: inline-block;
      width: 10vw;
      height: 100%;
      line-height: 30px;
      text-align: center;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 1.5vw;
      color: var(--bgcolor);
      background-color: var();
      padding: 1.2vh;

}

.ajustar_img {
      width: 100%;
}

.img_story {
      width: 30vw;
}

.ajustar_img_carousel {
      width: 35%;
}

#imagenes_portada {
      height: 520px;
      max-width: 100vw;
}

#presentacion {
      height: 500px;
}

#portada {
      height: 480;
}

#contenedor_carousel {
      height: 300px;
      max-width: 100vw;
}

#img_izq,
#img_der {
      float: left;
      width: 250px;
      height: 590px;
      margin-left: 5px;
      margin-top: 5px;
}

#img_centro {
      float: left;
      width: 440px;
      height: 590px;
      margin-left: 5px;
      margin-top: 5px;
}

#layer {
      height: 100vh;
      max-width: 100vw;
      background-image: url('../img5/layer.png');
      background-repeat: no-repeat;
      background-size: 100%;
      /*quiero agregarle opacidad con otra capa*/
}

#nosotros {
      height: 600px;
      max-width: 100vw;

}

#img_col_izq {
      width: 400px;
      height: 400px;
      float: left;
      margin-left: 25px;
      margin-top: 25px;
      margin-bottom: 25px;

}

.cont_us {
      max-width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: left;
}

.cont_us2 {
      max-width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: left;
}

.order {
      text-align: justify;
}

.txt_us {
      padding-top: 2%;
      max-width: 40vw;
      background-color: var(--cuarto);
      padding: 10px;
      border-radius: 20px;
}

.cajabootstrap {
      height: 500px;
      max-width: 100vw;

}

#contenedorboot {
      height: fit-content;
}

#modulo1,
#modulo2 {
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
}

#img_contacto {
      width: 20vw;

}

#columna2 {
      width: 50vw;
}

#colum_mod1 {
      padding-top: 5px;
}

/*#pesoideal {
      height: 300px;
      background-color: chocolate; 
}*/
#info {
      height: fit-content;
      max-width: 100vw;

}

.container {
      display: flex;
      justify-content: space-around !important;
}

.txt {
      height: auto;
      width: 20vw;
      float: left;
      border-radius: 10px;
      margin-top: 10px;
      margin-left: 8px;
      background-color: var(--terciario);
}

.imgfluid {
      width: 15vw;
}

.img_txt {
      height: 220px;
      width: 19vw;
      float: left;
      margin-top: 10px;
      margin-left: 5px;

}

.piecontacto {
      height: 50px;
      max-width: 100vw;
      margin: 0;

      margin-bottom: 0;
}

.contacto {

      max-width: 100vw;
      display: flex;
      justify-content: center;


}

footer div i {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

i a {
      margin: 5px;
      text-decoration: none;
      color: var(--secundario);
}

a:hover {
      color: var(--quinto);
}

.copyright {
      font-family: Arial, Helvetica, sans-serif;
}

#mi_nombre {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: var(--quinto);
      letter-spacing: 2px;
      text-decoration: none;
}

section p {
      margin: 0;
}

@media all and (min-width: 600px) and (max-width:1023px) {}

/*end media 600 to 1023*/

@media all and (max-width: 599px) {

      .marca {
            max-width: 60px;
            float: none;
            max-height: 60px;

      }

      .btn_close, .btn_open{
            display:block;
            border: 0;
            font-size: 1.5rem;
            background-color: var(--secundario);
            color: var(--bgcolor);
            width: 2rem;
            cursor: pointer;
      }
      
      .btnes_scroll {
            opacity: 0;
            visibility: hidden;
      }
     
            .btnes_scroll {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            float:none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            color: var(--terciario);
            background-color: var(--secundario);
            padding: 1rem;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      }

      .btnes_scroll.visible{
            opacity: 1;
            visibility: visible;
      }

      .nav_order {
            display: flex;
            flex-direction: column;
            align-items: end;
      }

      .btnes_scroll ul li a {
            width: 40vw;
            color: var(--terciario);
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            height:100% ;    
            font-family: sans-serif;        
      }

      .btnes_scroll ul li {
            max-width: 100%; 
            height: 50px;
      }

      header {
            height: 30px;
      }

      #layer {
            height: 30vh;
            max-width: 100vw;
            background-image: url('../img5/layer.png');
            background-size: 100%;
            /*quiero agregarle opacidad con otra capa*/
      }

      .titles {
            height: 50px;
            max-width: 100vw;
            background-color: var(--secundario);
            color: var(--bgcolor);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3%;
            margin-bottom: 3%;
      }

      .subtitle {
            font-size: 1rem;
            text-align: center;

      }

      div h1 {
            font-size: 25px;
            letter-spacing: 5px;
      }

      div h2 {
            font-size: 15px;

            letter-spacing: 5px;
      }

      .img-center {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;

      }

      .img_story {
            max-width: 50vw;
      }

      .ajustar_img_carousel {
            width: 100%;
      }

      #imagenes_portada {
            height: 300px;
      }

      #box_info {
            max-width: 100%;
            height: fit-content;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
      }

      #presentacion {
            height: 500px;
      }

      #portada {
            height: 480;
      }

      #contenedor_carousel {
            height: 300px;
            max-width: 100vw;
      }

      #img_izq,
      #img_der {
            float: left;
            width: 250px;
            height: 590px;
            margin-left: 5px;
            margin-top: 5px;
      }

      #img_centro {
            float: left;
            width: 440px;
            height: 590px;
            margin-left: 5px;
            margin-top: 5px;
      }

      #nosotros {
            height: fit-content;
            max-width: 100vw;
      }

      #img_col_izq {
            text-align: center;
            max-width: 100vw;
            height: 130px;
            margin: 0;
      }

      .order {
            text-align: justify;
      }

      .cont_us {
            width: 100%;
            display: flex;
            text-align: left;
            flex-wrap: wrap;
            justify-content: center
            margin-top: 10px;
      }

      .cont_us2 {
            max-width: 100vw;
            display: flex;
            text-align: left;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10px;
            flex-direction: column-reverse;
      }

      .txt_us {
            padding-top: 2%;
            max-width: 100vw;
            background-color: var(--cuarto);
            padding: 10px;
            border-radius: 20px;
      }

      /*--------------------------------------------------*/
      /* contenido contacto*/
      .cajabootstrap {
            height: 550px;
            width: 100%;

      }

      #contenedorboot {
            height: fit-content;
            width: 100%;
      }

      #modulo1,
      #modulo2 {
            height: fit-content;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
      }

      #img_contacto {
            width: 0;
            height: 0;
            visibility: hidden;

      }


      #columna2 {
            width: 100%;
            display: flex;
            justify-content: center;
      }

      #colum_mod1 {
            padding-top: 0px;
      }

      /*Fin Contenido Contacto*/
      /*------------------------------------------------*/
      /*#pesoideal {
            height: 300px;
            background-color: chocolate; 
      }*/
      /*------------------------------------------------*/
      /*conteino INFO*/
      #info {
            height: fit-content;
            width: 100%;

      }

      .container {
            display: flex;
            justify-content: unsafe;
      }

      .txt {
            height: auto;
            width: 90vw;
            float: none;
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 0px;
            background-color: var(--terciario);
            display: flex;
            flex-direction: column;


      }


      .img_txt {
            height: 150px;
            max-width: 50vw;
            float: none;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;


      }

      .imgfluid {
            width: 50vw;
      }

      .piecontacto {
            height: 100px;
            width: 100%;
            margin: 0;

            margin-bottom: 0;
      }

      .contacto {

            width: 100%;
            display: flex;
            flex-wrap: wrap;
      }

      footer div i {
            display: flex;
            justify-content: space-around;
            align-items: center;
      }

      i a {
            margin: 5px;
            text-decoration: none;
            color: var(--secundario);
      }

      a:hover {
            color: var(--quinto);
      }

      .copyright {
            font-family: Arial, Helvetica, sans-serif;
      }

      #mi_nombre {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: var(--quinto);
            letter-spacing: 2px;
            text-decoration: none;
      }

      section p {
            margin: 0;
      }

      /*Fin contenido INFO*/
}

/*end media -599*/